body { 
  font: 10px sans-serif;
}

.axis path,

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {

/*  display: none;*/

}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart {
  height: 500px;
  position: relative;
}

.dot {
	opacity: 0;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}

.annotation circle {
  fill: maroon;
  stroke: maroon;
}

.annotation path {
  fill: none;
  stroke: maroon;
  shape-rendering: crispEdges;
}

.annotation text {
  text-shadow: -2px 0 2px #fff, 
                0 2px 2px #fff,
                2px 0 2px #fff, 
                0 -2px 2px #fff;
}

/* Tooltip styles below */

.chart {
  height: 500px;
  position: relative;
}

.tt {
	background-color: #fff;
	padding: 8px;
	outline: 1px solid #ccc;
	display: none;
	position: absolute;
}

.tt .name {
	font-size: 14px;
}

.tt .date {
	text-transform: uppercase;
	font-size: 12px;
}

.tt .price {
	font-size: 18px;
	font-weight: bold;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 85px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  font-weight: bold;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
